<br><h5>charity you picked is . . . </h5>
<p>If there's two big trees invariably sooner or later there's gonna be a little tree. I thought today we would do a happy little picture. Let's do it again then, what the heck. By now you should be quite happy about what's happening here.</p>


	<h5><%=charity.charityName %></h5>
		<p><%=charity.tagLine %></p>