<br><h5>create an "ask" for your event</h5>
<p>If there's two big trees invariably sooner or later there's gonna be a little tree. I thought today we would do a happy little picture. Let's do it again then, what the heck. By now you should be quite happy about what's happening here.</p>


<div class="row">
	<div class="col s6">
		<form method="GET" action="/charities/charity-search" >
			<button class="waves-effect waves-light btn" type="submit" name="action">go to charity search page</button>
		</form>
	</div>
	<div class="col s6">
		<form method="GET" action="/charities/charities" >
			<button class="waves-effect waves-light btn" type="submit" name="action">see popular charities</button>
		</form>
	</div>
</div>


<h5>picked charity</h5>