<br><h4>Edit event settings</h4>


<div class="row">
	<form method="POST" action="/events/event/<%=event.dataValues.id%>/?_method=PUT">
		<div class="row">
			<div class="col s3 input-field">
				<label></label>
				<input type="date" name="event.date" value="<%=event.dataValues.date %>">
			</div>
			<div class="col s9 input-field">
				<label>event name</label>
				<input type="text" name="event.name" value="<%= event.dataValues.name %>">
			</div>

		</div>
		<div class="row">
			<div class="col s12 input-field">
				<label>description</label>
				<input type="text" name="event.desc" value="<%= event.dataValues.desc %>">
			</div>
		</div>
		<div class="row">
			<div class="col s3 input-field">
				<button class="waves-effect waves-light btn" type="submit" name="action">submit<i class="material-icons right">add</i>
				</button>
			</div>
		</div>
	</form>
</div>