<br><h4>log in</h4><br>

<div class="row">
	<form action="/auth/login" method="POST" class="col s12">
		<div class="row">
			<div class="col s12 input-field">
				<label>email</label>
				<input type="email" name="email" placeholder="your email here">
			</div>
		</div>	
		<div class="row">
			<div class="col s12 input-field">
				<label>password</label>
				<input type="password" name="password" placeholder="your password here">
			</div>
		</div>	
		<div class="row">
			<div class="col s12">
				<button class="waves-effect waves-light btn" type="submit" name="action">log in<i class="material-icons right">add</i>
				</button>
			</div>
		</div>
	</form>
</div>