<h4>Noooooooooooooo!</h4>
<p>Oh dear. Something went wrong. Please contact the site administrator.</p>

<div class="row">
	<div class="col s12">
		<img src="https://api.iconify.design/zmdi:alert-polygon.svg">
	</div>
</div>