<br><h4>Welcome to the Give Registry</h4>

<br><p><span class="bold">It's traditional</span> to give gifts, flowers, or other material goods for all kinds of events, from birthdays to weddings to memorials. But many of us don't really need such things, and would rather mark these passages with non-material gifts, like experiences with our loved ones or donations to charitable organizations. That's where the "Give Registry" comes in.</p>

<p>The Give Registry is an alternative to the kind of traditional gift registry often used for weddings and baby showers, but can be used for any event, from graduations to memorials. All you have you do is start an account, define your event, and then create one or more "asks" for your event. An "ask" can be a request for help painting a room, cleaning up your local park, or a donation to a charity.</p>

<p>This site lets you search the vast <a href="https://www.charitynavigator.org/" target="_blank">Charity Navigator</a>* database to find out about thousands of charitable organizations, including more than 9,000 that Charity Navigator has rated for financial responsibility and accountability/transparency.</p>

<p>The Give Registry is a free service, and gathers pledges but not actual donations (we don't collect money).</p>
<br><br>
<hr>
<p>* CHARITY NAVIGATOR and the CHARITY NAVIGATOR logo are registered trademarks of Charity Navigator. All rights reserved. Used with permission.</p>


