<br><h4>Welcome to the Give Registry</h4>

<p>Text that explains the nature of the site goes here. </p>

<p>If there's two big trees invariably sooner or later there's gonna be a little tree. I thought today we would do a happy little picture. Let's do it again then, what the heck. By now you should be quite happy about what's happening here.</p>

<p>I will take some magic white, and a little bit of Vandyke brown and a little touch of yellow. I spend a lot of time walking around in the woods and talking to trees, and squirrels, and little rabbits and stuff. That's what painting is all about. It should make you feel good when you paint. The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. Go out on a limb - that's where the fruit is.</p>

<p>Everyone wants to enjoy the good parts - but you have to build the framework first. See there how easy that is. We want to use a lot pressure while using no pressure at all. Let's get wild today. Happy painting, God bless.</p>



