body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

nav {
	text-align: center;
	background-color: #4C681D !important;
	min-height: 35px;
	padding: 0 0 0 0;
}

nav a {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .05em;
	color: darkblue;
	text-decoration: none;
	padding: 0 15px 0 15px;
}

nav a:hover {
	color: gray !important;
}

nav a:active {
	color: black;
}

form {
	font-weight: 400;
	font-size: 12px;
	line-height: 25px;
}

button {
	background-color: #4C681D !important;
}

hr {
	border-color: #4C681D;
}

.bold {
	font-weight: 700;
	text-transform: uppercase;
}

.uglybox {
	padding: 5px;
	margin: 2px;
	border: 1px solid black;
	border-radius: 3px;
}

/* label underline focus color */
.input-field input:focus {
     border-bottom: 1px solid #4C681D !important;
     box-shadow: 0 1px 0 0 #4C681D !important;
   }

.input-text input:focus {
     border-bottom: 1px solid #4C681D !important;
     box-shadow: 0 1px 0 0 #4C681D !important;
   }


/* Materialize overrides:

.input-field label {
	color: #000;
}
.input-field input[type=text]:focus + label {
	color: #000;
}
.input-field input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
.input-field .prefix.active {
	color: #000;
}

*/

